
/* Зарегистрируйте пользовательское семейство шрифтов и сообщите браузеру, где его найти. */
/* @font-face {
    font-family: 'archangelsk';
    src: url('../src/fonts/archangelsk.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Bebas Neue';
    src: url('../src/fonts/BebasNeueBold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../src/fonts/BebasNeueRegular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('../src/fonts/Involve-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('../src/fonts/Involve-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('../src/fonts/Involve-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('../src/fonts/Involve-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
