.for-clients {
    padding-top: 150px;
    padding-bottom: 70px;
}

.for-clients__title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: clamp(3.125rem, -0.446rem + 7.44vw, 6.25rem);
    line-height: 1;
    text-align: justify;
    color: #ffffff;
    animation: fill 3s ease forwards;
    position: relative;
    overflow: hidden;
}

.for-clients__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, transparent 0%, rgba(21, 32, 51, 1) 50%);
    animation: fill 2s linear forwards;
}

@media (max-width: 620px) {
    .for-clients {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .for-clients__title {
        font-size: 30px;
    }

    .for-clients .healing-video {
        padding-top: 30px;
    }
}

@keyframes fill {
    from {
        top: 0;
    }

    to {
        top: 100%;
    }
}