.info {
    padding: 70px 0;
    overflow: hidden;
}

.info-solo {
    padding: 70px 0;
    overflow: hidden;
}

.info-wrapper {
    position: relative;
    z-index: 2;
}

.info__title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: clamp(3.125rem, -0.446rem + 7.44vw, 6.25rem);
    line-height: 1;
    color: #fff;
}

.info__sub-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: clamp(3.125rem, -0.446rem + 7.44vw, 6.25rem);
    line-height: 1;
    color: #596476;
}

@media (max-width: 550px) {
    .info-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .info__title wow fadeInUp {
        font-size: 30px;
    }

    .info__sub-title wow fadeInUp {
        font-size: 30px;
    }

    .info__img {
        max-height: 370px;
        object-fit: cover;
    }
}